.rating-color-1  { background-color: #bd1b1b !important; color: #ffffff !important; } /* 강한 레드 */
.rating-color-2  { background-color: #FF1744 !important; color: #ffffff !important; } /* 선명한 레드 */
.rating-color-3  { background-color: #FF9100 !important; color: #212529 !important; } /* 진한 오렌지 */
.rating-color-4  { background-color: #FFCA28 !important; color: #212529 !important; } /* 골드 느낌 */
.rating-color-5  { background-color: #FFF176 !important; color: #212529 !important; } /* 진한 연노랑 */
.rating-color-6  { background-color: #4FC3F7 !important; color: #212529 !important; } /* 진한 연하늘 */
.rating-color-7  { background-color: #29B6F6 !important; color: #ffffff !important; } /* 강한 하늘 */
.rating-color-8  { background-color: #0288D1 !important; color: #ffffff !important; } /* 쨍한 파랑 */
.rating-color-9  { background-color: #8BC34A !important; color: #212529 !important; } /* 선명한 연초록 */
.rating-color-10 { background-color: #84dc32 !important; color: #212529 !important; } /* 강한 라이트그린 */
