<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneLineReview.oneLineReview.mapper.RecommendCommentMapper">
    <insert id="insert" parameterType="com.oneLineReview.oneLineReview.Dto.RecommendCommentDTO">
        INSERT INTO RECOMMEND_COMMENT (USER_ID,COMMENT_ID,RECOMMEND)
        VALUES (#{userId},#{commentId},#{recommend})
    </insert>
    <delete id="delete" parameterType="com.oneLineReview.oneLineReview.Dto.RecommendCommentDTO" >
        DELETE FROM RECOMMEND_COMMENT
        WHERE USER_ID = #{userId} AND COMMENT_ID = #{commentId}
    </delete>
</mapper>